.EmptyCardSlotUnselectedStyle {
  width: 100%;
  height: calc(100% + 2px);
  margin-top: 1px;
  border: 1px solid #fff;
}

.oneCardStyle {
  // z-index: -100;
}

.wildcardOverlaySecondStyle {
  position: relative;

  //color: rgb(240, 255, 51);
  font-weight: bolder;

  top: -101px;
  right: 3px;

  @media (max-width: 767px) {
    top: -63px;
    right: 2px;
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

.wildcardOverlayThirdStyle {
  position: relative;

  font-weight: bolder;

  top: -201px;
  right: 6px;
  font-size: 14px;

  @media (max-width: 767px) {
    top: -127px;
    right: 4px;
  }

  &:hover {
    cursor: pointer;
  }
}

.noOpacityOverride {
  background-color: #222;
}
