.CardDeckSlotStyleDefinition {
  width: 80px;
  height: 95px;

  @media (max-width: 767px) {
    height: 59px;
    width: 50px;
  }

  // margin-bottom: 5px;
  margin-top: 0;
  margin-bottom: 6px;
  margin-right: 2px;
}

.EmptyCardSlotUnselectedStyle {
  width: 100%;
  height: calc(100% + 2px);
  margin-top: 1px;
  border: 1px solid #fff;
}

.oneCardStyle {
  // z-index: -100;
}

.wildcardOverlaySecondStyle {
  position: relative;

  //color: rgb(240, 255, 51);
  font-weight: bolder;

  top: -101px;
  right: 3px;

  @media (max-width: 767px) {
    top: -63px;
    right: 2px;
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

.wildcardOverlayThirdStyle {
  position: relative;

  font-weight: bolder;

  top: -201px;
  right: 6px;
  font-size: 14px;

  @media (max-width: 767px) {
    top: -127px;
    right: 4px;
  }

  &:hover {
    cursor: pointer;
  }
}

.noOpacityOverride {
  background-color: #222;
}

.EmptyCardSlotSelectedStyle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 25% 15%;
  margin-top: 2px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    border: 1px solid yellow;
  }

  @media (max-width: 767px) {
    font-size: 9px;
  }

  background: linear-gradient(90deg, #fff 50%, transparent 50%),
    linear-gradient(0deg, #fff 50%, transparent 50%),
    linear-gradient(90deg, #fff 50%, transparent 50%),
    linear-gradient(0deg, #fff 50%, transparent 50%);
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 15px 2px, 2px 15px, 15px 2px, 2px 15px;
  background-position: left top, right top, left bottom, left top;
  animation: border-dance 4s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: left top, right top, right bottom, left bottom;
  }
  100% {
    background-position: right top, right bottom, left bottom, left top;
  }
}
