.deckFieldset {
  padding-top: 10px;
  position: relative;
}

%topLegend {
  position: absolute;
  padding: 0 2px;
  line-height: 1.2em;
  background-color: #222;
  top: -4px;

  @media (max-width: 767px) {
    top: -6px;
  }
}

.rightTopLeftLeftLegend {
  @extend %topLegend;
  right: 345px;

  @media (max-width: 767px) {
    right: 82px;
  }
}

.rightTopLeftLeftLegendWithoutAvailableCards {
  @extend %topLegend;
  right: 206px;

  @media (max-width: 767px) {
    right: 82px;
  }
}

.rightTopLeftLegend {
  @extend %topLegend;
  right: 240px;
  @media (max-width: 767px) {
    right: 47px;
  }
}

.rightLeftLegend {
  @extend %topLegend;
  right: 8px;
}

.rightTopLeftExportImageLegend {
  @extend %topLegend;
  right: 8px;
}

.rightTopLeftExportUrlLegend {
  @extend %topLegend;
  right: 155px;
  @media (max-width: 767px) {
    right: 45px;
  }
}

.rightTopLeftExportUrlLegendSelected {
  @extend %topLegend;
  right: 117px;

  @media (max-width: 767px) {
    right: 45px;
  }
}
