.container {
  padding: 0 0 10px 0;
  font-size: 10px;

  @media (max-width: 767px) {
    font-size: 8px;
  }

  & > code {
    font-size: 10px;

    @media (max-width: 767px) {
      font-size: 8px;
    }
  }
}
