.formLayout {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  flex-direction: row;
}

.inputGroupStyle {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
  width: 50%;
  @media (max-width: 767px) {
    width: 100%;
  }
}

.withLinkInputContainer {
  display: flex;
  align-items: center;
}
.linkPrefix {
  font-size: 10px;
}
.linkInput {
  flex-grow: 1;
}

.descriptionTextArea {
  width: 100%;
  //height: 168px;
}

.tagInput {
  & :global {
    .react-select__control {
      background-color: #444;
      border-radius: 0;
    }

    .react-select__value-container {
      padding: 2px 3px;
    }

    .react-select__menu {
    }

    .react-select__option {
      padding: 3px 12px;
      background-color: #444;
      border: 1px solid #444;
    }

    .react-select__option.react-select__option--is-focused {
      border: 1px solid yellow;
      color: yellow;
      cursor: pointer;
    }

    .react-select__multi-value {
      background-color: #222;
    }

    .react-select__multi-value__label {
      color: #ffffff;
    }

    .react-select__multi-value__remove {
      &:hover {
        background-color: yellow;
        color: #222;
        cursor: pointer;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}
