.steamIcon {
  & svg:first-child {
    color: white;
    font-size: 9px;
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  & svg:last-child {
    color: #1b2838;
  }

  &:hover:first-child {
    color: #375a7f;
  }
}
