.pageContainer {
}

.deckName {
  color: yellow;
  font-size: 16px;
}

.deckLegend {
  display: flex;
  justify-content: space-between;
}

.belowDeck {
  // grid 2 cols
  padding-left: 101px;
  @media (max-width: 767px) {
    padding-left: 70px;
  }
}
