.descriptionEdit {
  width: 100%;
}

.fieldset {
  background-color: #375a7f;
}

.inputGroupStyle {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
}

.editButton {
  // padding-top: 20px;
}
