.singleDeckFieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 20px 0;
  padding-bottom: 20px;
}

.deckRightLegend {
  position: absolute;
  top: -0.2px;
  right: 7px;
  padding: 0 2px;
  line-height: 1.2em;
  background-color: #222;
}

%bottomLegend {
  position: absolute;
  bottom: -16px;
  line-height: 1.2em;
  background-color: #222;
  color: yellow;
}

.deckLeftBottomLegend {
  @extend %bottomLegend;
  left: 8px;
}

.deckLeftBottomSecondaryLegend {
  @extend %bottomLegend;

  left: 122px;
  @media (max-width: 767px) {
    left: 40px;
  }
}

.deckLeftBottomThirdLegend {
  @extend %bottomLegend;
  left: 265px;

  @media (max-width: 767px) {
    left: 90px;
  }
}

.youtubeElement {
  padding: 5px 0;
}

.tags {
  padding-bottom: 5px;
}

.tag {
  background-color: #375a7f;
  border-radius: 4px;
  display: inline;
  padding: 2px 5px;
  margin-right: 3px;
}

.inlineButtons {
  display: flex;

  & > * {
    padding-right: 5px;
    padding-bottom: 10px;
  }
}
