.singleDeckFieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-bottom: 20px;
  margin: 40px 0 55px 0;

  @media (max-width: 767px) {
    margin: 15px 0 30px 0;
  }
}

.deckName {
  margin: 0;
}

.legendGameVersion {
  position: absolute;
  top: 1.8px;
  right: 7px;
  padding: 0 2px;
  line-height: 1.2em;
  background-color: #222;

  @media (max-width: 767px) {
    top: -0.2px;
  }
}

%bottomLegend {
  position: absolute;
  bottom: -16px;
  line-height: 1.2em;
  background-color: #222;
  // color: yellow;
  @media (max-width: 767px) {
    bottom: -14px;
  }
}

.legendCopyToGame {
  @extend %bottomLegend;
  left: 90px;
  @media (max-width: 767px) {
    left: 35px;
  }
}

.legendShareLink {
  @extend %bottomLegend;

  left: 8px;
  @media (max-width: 767px) {
    left: 3px;
  }
}

.deckLeftBottomThirdLegend {
  @extend %bottomLegend;
  left: 265px;

  @media (max-width: 767px) {
    left: 90px;
  }
}

.lastCreatedAt {
  bottom: -7px;
  @extend %bottomLegend;
  right: 3px;

  @media (max-width: 767px) {
    right: 15px;
  }
}

.youtubeElement {
  padding: 5px 0;
}

.tags {
  padding-bottom: 5px;
}

.tag {
  background-color: #375a7f;
  border-radius: 4px;
  display: inline;
  padding: 2px 5px;
  margin-right: 3px;
}

.inlineButtons {
  display: flex;

  & > * {
    padding-right: 5px;
    padding-bottom: 10px;
  }
}
