.page{
  display: flex;
  flex-direction: column;
}

.introduction{
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 25px 0;
}

.containerLayout{
  padding-top: 30px;
  display: flex;
}

.firstColumn {
  display: flex;
  //grid-template-columns: 80px;
  //grid-auto-flow: column;
  flex-direction: column;
  border: 1px solid #fff;
  width: 257px;
  padding: 5px 5px 5px 5px;
  align-items: center;
}

.firstColumnWidth{
  width: 270px;
}

.otherColumns{
  padding-bottom: 15px;
  display: flex;
  border: 1px solid #fff;
}

.header {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
}

.defendingHeader{
  display: flex;
}

.column{
  display: flex;
  flex-direction: column;
  padding: 5px 25px 5px 25px;
  border-right: 1px solid #fff;
}

.cardWithInfo{
  width: 160px;
  margin-bottom: 20px;
}

.twoValues{
  display: flex;
  justify-content: space-between;
}

.transformAfter{
  font-weight: bold;
}

.headerOfOtherColumns {
  color: #28a745;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  text-align: center;
}

.surviveHits {
  display: flex;
  flex-direction: column;
}

.noHitHeader {
  color : darkred;
}