.appliedHover {
  &:hover * {
    cursor: pointer;
    border-color: yellow;
  }
}

.labelInline {
  @extend .appliedHover;
  width: 135px;
  text-align: left;
  vertical-align: text-bottom;
  padding-left: 5px;
}
