.menuLink {
  text-decoration: none;
  & svg {
    display: none;
  }
  &:hover svg {
    display: inline;
    margin-left: -20px;
  }
}

.hideOnMobile {
  @media (max-width: 767px) {
    display: none;
  }
}
