@media (max-width: 767px) {
  .CardProperyValue {
    margin-top: -8px;
  }
}

.CardProperyValue {
}

.redditIcon {
  &:first-child:first-child {
    color: white;
  }
  &:hover:first-child:first-child {
    color: #375a7f;
  }
}
