@media (max-width: 767px) {
  .CardProperyValue {
    margin-top: -8px;
  }
}

.CardProperyValue {
}

.redditIcon {
  &:first-child:first-child {
    color: white;
  }
  &:hover:first-child:first-child {
    color: #375a7f;
  }
}

.steamIcon {
  &:first-child:first-child {
    //  color: white;
  }
  & svg:first-child {
    //  color: white;
    font-size: 18px;
    color: white;
  }

  & svg:last-child {
    color: #1b2838;
  }

  &:hover:first-child {
    color: #375a7f;
  }
}
