.pageContentContainer {
  padding: 5px;

  margin: auto;
  width: 1100px;

  @media (max-width: 1099px) {
    width: 100%;
  }
}
.containerForImagePreview {
  // must be in sync with server width setting
  width: 945px;
}

.managerSpacer {
  @media (min-width: 768px) {
    margin-left: 30px;
  }
}

.differentUserContext {
  color: orange;
  font-weight: bold;
}

.buttonLink {
  border: none;
  color: blue;
  text-decoration: underline;
  font-weight: 700;
  padding: 0;

  &:hover {
    cursor: pointer;
    color: yellow;
  }
}
