@import "~sanitize.css";
@import "~sanitize.css/forms.css";
@import "~sanitize.css/typography.css";

html {
  font-size: 100%;
}

body {
  background-color: #222;
  color: #fff;
  overflow: scroll;
}

a {
  color: #fff;
  cursor: pointer;
}

a:hover {
  color: #375a7f;
}

h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: yellow;
  @media (max-width: 767px) {
    margin-top: 10px;
  }
}

h4 {
  margin: 8px 0 0 0;
}

legend {
  color: yellow;
}
b {
}

fieldset {
  @media (max-width: 767px) {
    padding-left: 3px;
    padding-right: 3px;
  }
}

input,
select,
textarea {
  background-color: #444;

  &:disabled {
    background-color: #111;
  }
  &:disabled:hover {
    cursor: not-allowed;
  }
}

select {
  &:hover {
    cursor: pointer;
  }
}

.react-tabs__tab-list {
  border-color: yellow;
}

.react-tabs__tab.react-tabs__tab--selected {
  background-color: #222; //#375a7f;
  color: #fff;
  text-decoration: none;
  //font-weight: bold;

  border-color: yellow;
  color: yellow;
  border-bottom: 1px solid #222;
  bottom: -2px;

  & > a {
    text-decoration: none;
    color: yellow;
  }
  &:hover {
    border-bottom: 1px solid #222;
  }
}

.react-tabs__tab {
  text-decoration: underline;
  border-bottom: none;
  margin: 0 2px;

  &:hover,
  &:hover a {
    color: yellow;
    border-color: yellow;
  }
}

.react-tabs__tab:not(.react-tabs__tab--selected) {
  border-radius: 5px 5px 0 0;
  border: 1px solid #444;
  border-bottom-color: #222;

  margin-bottom: 1px;

  &:hover {
    //  margin-bottom: 0;
    bottom: -2px;
    //   border-bottom-color: #222;
    border-left-color: yellow;
    border-right-color: yellow;
    border-top-color: yellow;
  }
}

.htmlCardRef {
  color: dodgerblue;
  text-decoration-line: underline;
}

.htmlTextRef {
}

.htmlHighlight {
  color: orange;
  font-weight: bold;
}

figure {
  display: inline;
  background-color: red;
  width: auto;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* // border-bottom: 1px dotted black; If you want dots under the hoverable text */
  outline: none;
  border: none;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  top: 10px;
  position: absolute;
  z-index: 1;

  outline: none;
  border: none;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

code {
  background-color: black;
  padding: 3px;
}

.browseOptionImage {
  display: none;
}
