.saveButton {
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;

  font-weight: bold;
}

.validations {
  padding-top: 10px;
}

.containsValidationError {
  color: yellow;
}
