
.tableContainer {

  padding: 1rem;

  display: block;

  overflow: auto;

  .table {
    border-spacing: 0;
    border: 1px solid black;

    .thead {
      overflow-y: auto;
      overflow-x: hidden;
    }

    .tbody {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 250px;
    }

    .tr {
      :last-child {
        .td {
          border-bottom: 0;
        }
      }

      border-bottom: 1px solid black;
    }

    .th{
      font-weight: bold;
      text-align: left;
    }

    .td{
      text-align: right;
    }

    .th,
    .td {
      margin: 0;
      padding: 0.5rem;
      border-right: 1px solid black;
      
      position: relative;


      // not sure why this was here, but it broke buttons inside headers
      // :last-child {
      //   border-right: 0;
      // }

      .resizer {
        right: 0;
        background: blue;
        width: 10px;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        touch-action: none;

        &.isResizing {
          background: red;
        }
      }
    }
    .footerRow {

      background-color: hsl(210, 69%, 14%);
      border-top: 1px solid black;
      border-bottom: 1px solid rgb(0, 0, 0);
      font-weight: bold;
      
      // Only the first footer row gets the top border
      &:first-of-type {
        border-top: 3px solid black;
      }

      // Only the last footer row gets the bottom border
      &:last-of-type {
        border-bottom: 1px solid black;
      }

      .td {
        
        text-align: left;
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding: 6px;
        
      }

    }
  }
}



.sortingInactive{

}