.readOnlyText {
  //  line-height: 1.7;
}

.mentionLink {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: yellow;

    & > img {
      outline: 1px solid yellow;
    }
  }
}
