.imgPicto {
  // padding-right: 5px;
  width: 40px;

  @media (max-width: 767px) {
    width: 30px;
  }
}

.maxWidth {
  max-width: 1000px;
  & textarea[readonly] {
    border: none !important;
    outline: none;
    cursor: default;
  }
}

.editable {
  background: linear-gradient(90deg, #000 50%, transparent 50%),
    linear-gradient(0deg, #000 50%, transparent 50%),
    linear-gradient(90deg, #000 50%, transparent 50%),
    linear-gradient(0deg, #000 50%, transparent 50%);
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 15px 2px, 2px 15px, 15px 2px, 2px 15px;
  background-position: left top, right top, left bottom, left top;
  animation: border-dance 20s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: left top, right top, right bottom, left bottom;
  }
  100% {
    background-position: right top, right bottom, left bottom, left top;
  }
}
